# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle daemon
.gradle-daemon/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# NetBeans
nbproject/
nbbuild/
dist/
nbdist/

# Java/Kotlin
*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
!examples/**/gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Maven (in case someone uses it)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Vim
*.swp
*.swo
*~

# Emacs
*~
\#*\#
.\#*

# Local test/development files
local.properties
release/

# Test outputs
.kotlintest/
